<header class="main-header">
    <div class="header-inner">
        <!-- Izquierda: Logo y Nombre -->
        <div class="left cluster">
            <a class="avatar" href="{{ url_for('home') }}" aria-label="Inicio">
                 <img src="/static/img/robot_ico.png" alt="Logo de la página" >
            </a>
            <a class="brand-title" href="{{ url_for('home') }}">RoBot</a>
        </div>

        <!-- Centro: Controles de Edición -->
        <div class="center cluster editor-controls">
            <div class="editor-input-container">
                <input type="text" class="title-input-editor" placeholder="Ingresa el título..." readonly>
                <button class="btn-config-inline">Configuracion</button>
            </div>
            <div class="pin-input-container">
                <input type="text" class="pin-input" placeholder="PIN" disabled>
                <button class="icon-button refresh-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L20.49 9"></path><path d="M20.49 15a9 9 0 0 1-14.85 3.36L3.51 15"></path></svg>
                </button>
            </div>
        </div>

        <!-- Derecha: Botones de Guardado -->
        <div class="right cluster">
            <button class="btn" id="saveQuizBtn">Guardar</button>
            <a href="{{ url_for('home') }}" class="btn">Salir</a>
        </div>
    </div>
</header>