
{% extends "base.html" %}
{% block page_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">{% endblock %}
{% block content %}
<section class="explore-hero">
  <h1>Cuestionarios</h1>
  <div class="curve">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,50 C400,150 800,0 1200,80 L1200,120 L0,120 Z" class="shape-fill"></path>
    </svg>
  </div>
</section>

<section class="container grid-results">
  {% for item in items %}
  <article class="result">
    <div class="thumb"></div>
    <div class="name">Nombre</div>
  </article>
  {% endfor %}
</section>

<p class="container more"><a href="#" class="link-underline">Ver más resultados</a></p>
{% endblock %}
